.cover__link{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    content:"";
    background-color: hwb(216 16% 82% / 0.3);
    background-size: cover;
    align-self: stretch;
}

.cover__link:hover{
    content:"";
    background-color: hsla(216, 6%, 17%, 0.8);
    background-size: cover;
    transition: 0.5s;
}