.header__links {
    display: flex;
    padding-top: 46px;
    justify-content: flex-end;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .header__links {
        padding-top: 30px;
        align-content: flex-end;
    }
}