.place__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__text {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__text {
        padding-bottom: 25px;
    }
}