.lead__image{
    width: 100%;
    margin: 0;
    /*max-height: 615px;*/
}

/*@media screen and (max-width: 1024px){
    .lead__image{
    max-width: 928px;
    max-height: 580px;
    }
}

@media screen and (max-width: 928px){
    .lead__image{
        width: 100%;
    }
}*/


