.cover__title{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
color: #FFFFFF;
margin: 245px 0 0 0;
position: relative;
z-index: 1;
}